:root{
    /*Primary*/
    --Orange: hsl(26, 100%, 55%);
    --Paleo-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --Very-vark-blue:hsl(220, 13%, 13%);
    --Dark-grayish-blue:hsl(219, 9%, 45%);
    --Grayish-blue:hsl(220, 14%, 75%);
    --Light-grayish-blue:hsl(223, 64%, 98%);
    --White:hsl(0, 0%, 100%);
    --Black:hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

.navigation-bar{
margin-inline: 8%;
display: inline-flex;
position: relative;
width: 80%;
border-bottom: 1px var(--Grayish-blue) solid;
align-items: flex-start;
margin-bottom: 0px;
height: 10vh;
}

.navigation-bar__logo-pagina{
    margin-top: 10px;
}


.navigation-bar__menu{
    width: 47%;
    height: 100%;
    position: absolute;
    left: 20vh;
    z-index: 1;
}

.navigation-bar__menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

}


.navigation-bar__menu__list__item{
    height: 100%;
    color: var(--Grayish-blue);
    cursor: pointer;
}

.navigation-bar__purchase-cart{
    top: 2vh;
    position: absolute;
    right: 13vh;
    
}

.navigation-bar__profile-picture{
    position: absolute;
    right: 3vh;
    top: 20%;
}

.navigation-bar__profile-picture__btn{
    background-color: white;
    cursor: pointer;
    height: 37px;
    width: 49px;
    
}

.navigation-bar__profile-picture__btn img{
    border-radius: 28px;
    max-height: 100%;
    max-width: 100%;
}
.navigation-bar__purchase-cart__notifications__purchases{
    position: absolute;
    left: 23px;
    height: 13px;
    width: 22px;
    background-color: var(--Orange);
    border-radius: 4px;
}


.navigation-bar__purchase-cart__notifications__purchases p{
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navigation-bar__purchase-cart__purchases_btn{
    background-color: white;
    cursor: pointer;
}

.navigation-bar__purchase-cart__menu{
    /* visibility: hidden; */
    position: absolute;
    top: 80%;
    right: 0;
    border-radius: 5px;
    width: 55vh;
    height: auto;
    background-color: white;
    box-shadow: 0 5px 5px 3px #e0dbdb;
}

.navigation-bar__profile-picture__btn img:hover{
    border: 1px var(--Orange) outset;
}

.navigation-bar__menu__list__item:hover{
    border-bottom: 4px var(--Orange) solid;
}

.navigation-bar__purchase-cart__menu_title{
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--Grayish-blue);

}

.navigation-bar__purchase-cart__menu__container__list{
list-style-type: none;
padding-left: 0;
margin-top: 2%;
margin-bottom: 10%;
}

.navigation-bar__purchase-cart__menu__container__list__item{
display: flex;
flex-direction: row;

}


.navigation-bar__purchase-cart__menu__container{
padding: 7% 5%;
}

.navigation-bar__purchase-cart__menu__container__checkout-btn{
    background-color: var(--Orange);
    color: white;
    width: 100%; 
}



.navigation-bar__purchase-cart__menu__container__list__item__image-container__image{
height: 100%;
width: 100%;
border-radius: 10px;
}

.navigation-bar__purchase-cart__menu__container__list__item__image-container{
    height: 45px;
    width: 45px;
}

.navigation-bar__purchase-cart__menu__container__list__item__detail{
    font-size: 16px;
    margin-inline: 13px;
    color: var(--Dark-grayish-blue);
}

.navigation-bar__purchase-cart__menu__container__list__item__detail p{
    margin: 0;
}

.navigation-bar__purchase-cart__menu__container__list__item__detail p b {
    color: black;
}

.navigation-bar__purchase-cart__menu__container__list__item__remove-btn{
    background-color: white;
    cursor: pointer;
}

.navigation-bar__open-menu-btn, .navigation-bar__close-menu-btn{
    display: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .navigation-bar{
        border: 0;
        margin: 0;
    }

    .navigation-bar__open-menu-btn{
        margin-top:10px ;
        display: inline;
    }

    .navigation-bar__close-menu-btn
    {
        display: block;
    }


    .navigation-bar__menu{
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 130vh;
        width: 90%;
        background-color: white;
    }

    .navigation-bar__menu__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        font-weight: 900;

    }

    .navigation-bar__menu__list__item{
        color: black;
    }

    .navigation-bar__menu__list__item:hover{
        border: none;
    }

    .navigation-bar__logo-pagina{
        font-size: 35px;
    }
    .navigation-bar__purchase-cart__menu{
        position: fixed;
        left: 4%;
        top:12%;
        width: 92%;
        height: 40%;
        box-shadow: none;
    }

    .navigation-bar__profile-picture {
        left: 100%;
    }

    .navigation-bar__purchase-cart {
        left: 85%;
    }
}

.navigation-bar__menu__activate{
    visibility: visible;
}
