:root{
    /*Primary*/
    --Orange: hsl(26, 100%, 55%);
    --Paleo-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --Very-vark-blue:hsl(220, 13%, 13%);
    --Dark-grayish-blue:hsl(219, 9%, 45%);
    --Grayish-blue:hsl(220, 14%, 75%);
    --Light-grayish-blue:hsl(223, 64%, 98%);
    --White:hsl(0, 0%, 100%);
    --Black:hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
}

.nav{
margin-inline: 8%;
display: inline-flex;
position: relative;
width: 80%;
border-bottom: 1px var(--Grayish-blue) solid;
align-items: flex-start;
margin-bottom: 0px;
height: 10vh;
align-items: center;
}

.nav__logo-pagina{
    margin-top: 10px;
}

.nav__menu{
    width: 47%;
    height: 100%;
    position: absolute;
    left: 20vh;
    z-index: 2;
}

.nav__menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
    margin: 0;
    margin-block: 0;
    padding: 0;
    align-items: center;
}


.nav__menu-option{
    height: 100%;
    color: var(--Grayish-blue);
    cursor: pointer;
    align-items: center;
}

.nav__purchase-cart{
    top: 2vh;
    position: absolute;
    right: 13vh;
    
}

.nav__profile{
    position: absolute;
    right: 3vh;
    top: 20%;
}

.nav__profile-btn{
    background-color: white;
    cursor: pointer;
    height: 37px;
    width: 49px;
    
}

.nav__profile-btn img{
    border-radius: 28px;
    max-height: 100%;
    max-width: 100%;
}
.nav__total-purchases{
    position: absolute;
    left: 23px;
    height: 13px;
    width: 22px;
    background-color: var(--Orange);
    border-radius: 4px;
    z-index: 1;
}


.nav__total-purchases p{
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav__purchase-cart-btn{
    background-color: white;
    cursor: pointer;
}

.nav__purchases-menu{
    /* visibility: hidden; */
    position: absolute;
    top: 80%;
    right: 0;
    border-radius: 5px;
    width: 55vh;
    height: auto;
    background-color: white;
    box-shadow: 0 5px 5px 3px #e0dbdb;
    z-index: 1;
}

.nav__profile-btn img:hover{
    border: 1px var(--Orange) outset;
}

.nav__menu-option:hover{
    border-bottom: 4px var(--Orange) solid;
}

.nav__menu-title{
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--Grayish-blue);
}

.nav__purchase{
display: flex;
flex-direction: row;
}


.nav__menu-container{
padding: 7% 5%;
text-align: center;
}

.nav__checkout-btn {
    background-color: var(--Orange);
    color: white;
    width: 100%; 
}


.nav__purchase-image{
    height: 45px;
    width: 45px;
    border-radius: 10px;
}


.nav__purchase-detail{
    font-size: 16px;
    margin-inline: 13px;
    color: var(--Dark-grayish-blue);
}

.nav__purchase-detail p{
    margin: 0;
}

.nav__purchase-detail p b {
    color: black;
}

.nav__remove-purchase-btn{
    background-color: white;
    cursor: pointer;
}

.nav__menu-btn {
    display: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .nav{
        border: 0;
        margin: 0 2%;
    }

    .nav__menu-btn--open {
        display: inline-block;
        margin-bottom: 10px;
    }

    .nav__menu-btn--close
    {
        display: block;
    }

    .nav__menu{
        visibility: hidden;
        top: 0;
        position: absolute;
        left: -4%;
        height: 150vh;
        width: 100%;
        background-color: white;
    }

    .nav__menu-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        font-weight: 900;
        list-style-type: none;
    }

    .nav__menu-option{
        color: black;
    }

    .nav__menu-option:hover{
        border: none;
    }


    .nav__logo-pagina {
        font-size: 30px;
        font-weight: bolder;
        margin-top: 3px;
    }

    .nav__purchases-menu{
        position: fixed;
        left: 4%;
        top:12%;
        width: 92%;
        height: 40%;
        box-shadow: none;
    }

    .nav__profile{
        left: 100%;
    }

    .nav__purchase-cart {
        left: 85%;
    }
}

.nav__menu--activate{
    visibility: visible;
}

.nav__purchase {
    justify-content: center;
    margin-block: 5%;
}

.nav__checkout-btn:hover{
    opacity: 0.5;
}