:root{
    /*Primary*/
    --Orange: hsl(26, 100%, 55%);
    --Paleo-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --Very-vark-blue:hsl(220, 13%, 13%);
    --Dark-grayish-blue:hsl(219, 9%, 45%);
    --Grayish-blue:hsl(220, 14%, 75%);
    --Light-grayish-blue:hsl(223, 64%, 98%);
    --White:hsl(0, 0%, 100%);
    --Black:hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
    --light-Orange: hsl(26, 89%, 65%);
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.product-article{
    width: 80%;
    height: 70%;
    margin: 2% 10%;
    display: inline-flex;
}

.product-article__article-view{
    height: 100%;
    width: 90%;
}

.product-article__article-view__main-image{
    height: 70%;
    width: 100%;
    border-radius: 10px;
}

.product-article__article-view__main-image__image{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    min-width: 30vh;
}

.product-article__article-view__select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.product-article__article-view__select__thumbnail{
height: 20%;
width: 20%;
border-radius: 10px;
}

.product-article__article-description{
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 15%;
    box-sizing: border-box;

}

.product-article__article-description__tittle h1{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.product-article__article-description__name-company{
    color:var(--Orange);
}

.product-article__article-description__tittle{
    font-weight: 700;
    font-size: 40px;
}

.product-article__article-description__description{
color: var(--Dark-grayish-blue);
}

.product-article__article-description__discount{
    color:var(--Orange);
    border-radius: 5px;   
    background-color: var(--Paleo-orange);
    height: 20px;
    width: 33px; 
}

.product-article__article-description__total-price{
    font-size: 24px;
}


.product-article__article-description__real-price{
    color: var(--Grayish-blue);
    text-decoration: line-through;
}

.product-article__article-description__amount__reduce-btn,.product-article__article-description__amount__increase-btn{
    background-color: whitesmoke;
    color: var(--Orange);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.product-article__article-description__amount__quantity{
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    background-color: whitesmoke
}

.product-article__article-description__amount__submit-btn{
    margin-left: 50px;
    padding: auto;
    height: 40px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background: var(--Orange) ;
    color: var(--White);
}

.cuantity-selector{
display: flex;
}

.inputs-container{
display: inline-flex;
}

.product-article__article-description__amount__submit-btn:hover{
    opacity: 0.5;
}

.product-article__article-description__amount__reduce-btn:hover{
    opacity: 0.5;
}

.product-article__article-description__amount__increase-btn:hover{
    opacity: 0.5;
}

.product-article__article-view__select__thumbnail:hover{
    opacity: 0.5;
}

.product-article__article-view__main-image__change-img-btn{
    position: absolute;
    border-radius: 20px;
    visibility: hidden;
    cursor: pointer;
}

    @media screen and (max-width: 650px) {

        .product-article__article-description__tittle h1{
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 26px;
        }

        .product-article__article-description__name-company{
            font-size: 14px;
        }

        .product-article{
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .product-article__article-view {
            height: 50vh;
            width: 100%;
        }

        .product-article__article-view__main-image__image {
            border-radius: 0px; 
            height: 50vh;

        }
        .product-article__article-description{
            padding-right: 0px;
            padding-left: 0px;
            margin-right: 5%;
            margin-top: 5%;
            margin-left: 5%;
        }
        .product-article__article-view__select{
            visibility: hidden;
            margin: 0;
            width: 0;
            height: 0;}

        .inputs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cuantity-selector{
            width: 100%;
            height: 6vh;
            margin-bottom: 5%;
        }
        .product-article__article-description__amount__reduce-btn,
        .product-article__article-description__amount__increase-btn
        {
            width: 15vh;
            font-size: 18px;
        }


        .product-article__article-description__amount__quantity
        {
            width: 70vh;
        }

        .product-article__article-description__amount__submit-btn {
            margin-bottom: 5%;
            margin-inline: 0;
            width: 100%;
            height: 8vh;
            font-size: 16px;
        }

        .navigation-bar__purchase-cart__menu__container__list__item {
            justify-content: center;
        }


        .product-article__article-view__main-image__change-img-btn{
            border-radius: 20px;
            visibility: visible;
        }
        .previous-btn{
            top: 30%;
            left: 6%;
            z-index: 0;
        }

        .next-btn{
            top: 30%;
            right: 6%;
            z-index: 0;
        }


}

.image-btn-active{
    opacity: 0.5;
    border: 1px solid var(--Orange);
}

