:root{
    /*Primary*/
    --Orange: hsl(26, 100%, 55%);
    --Paleo-orange: hsl(25, 100%, 94%);
    /* Neutral */
    --Very-vark-blue:hsl(220, 13%, 13%);
    --Dark-grayish-blue:hsl(219, 9%, 45%);
    --Grayish-blue:hsl(220, 14%, 75%);
    --Light-grayish-blue:hsl(223, 64%, 98%);
    --White:hsl(0, 0%, 100%);
    --Black:hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/
    --light-Orange: hsl(26, 89%, 65%);
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article{
    width: 80%;
    height: 70%;
    margin: 2% 10%;
    display: inline-flex;
}

.article__article-images{
    height: 100%;
    width: 90%;
}

.article__main-image-container{
    height: 70%;
    width: 100%;
    border-radius: 10px;
}

.article__main-image{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    min-width: 30vh;
}

.article__image-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.article__thumbnail   {
height: 20%;
width: 20%;
border-radius: 10px;
cursor: pointer;
}

.article__details{
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 15%;
    box-sizing: border-box;

}

.article__tittle{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.article__tittle {
    font-weight: 700;
    font-size: 40px;
}

.article__company{
    color:var(--Orange);
    /*  */
    /*  */
}



.article__description {
color: var(--Dark-grayish-blue);
/*  */
/*  */
}

.article__discount {
    color:var(--Orange);
    border-radius: 5px;   
    background-color: var(--Paleo-orange);
    height: 20px;
    width: 33px; 
}

.article__total-price {
    font-size: 24px;
}


.article__real-price {
    color: var(--Grayish-blue);
    text-decoration: line-through;
}

.article__amount-btn
{
    background-color: whitesmoke;
    color: var(--Orange);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}



.article__quantity {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    background-color: whitesmoke
}

.article__submit-btn {
    margin-left: 50px;
    padding: auto;
    height: 40px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background: var(--Orange) ;
    color: var(--White);
}

.article__quantity-selector {
display: flex;
}

.article__inputs-container {
display: inline-flex;
}

.article__submit-btn:hover{
    opacity: 0.5;
}

.article__decrease-btn:hover{
    opacity: 0.5;
}

.article__amount-btn:hover{
    opacity: 0.5;
}

.article__thumbnail:hover{
    opacity: 0.5;
}

.article__btn{
    position: absolute;
    border-radius: 20px;
    visibility: hidden;
    cursor: pointer;
}

    @media screen and (max-width: 650px) {
       
        .article {
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .article__details {
            padding-right: 0px;
            padding-left: 0px;
            margin-right: 5%;
            margin-top: 5%;
            margin-left: 5%;
        }


        .article__tittle{
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 26px;
        }

        .article__company{
            font-size: 14px;
        }


        .article__article-images {
            height: 50vh;
            width: 100%;
        }

        .article__main-image{
            border-radius: 0px; 
            height: 50vh;

        }

        .article__image-selector{
            visibility: hidden;
            margin: 0;
            width: 0;
            height: 0;}

        .article__inputs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .article__quantity-selector {
            width: 100%;
            height: 6vh;
            margin-bottom: 5%;
        }
        .article__amount-btn
        {
            width: 15vh;
            font-size: 18px;
        }


        .article__quantity
        {
            width: 70vh;
        }

        .article__submit-btn {
            margin-bottom: 5%;
            margin-inline: 0;
            width: 100%;
            height: 8vh;
            font-size: 16px;

        }


        .article__btn {
            border-radius: 20px;
            visibility: visible;
        }
        /*  */
        /*  */
        /*  */
        .article__btn--prev {
            top: 30%;
            left: 6%;
            z-index: 0;
        }

        .article__btn--next {
            top: 30%;
            right: 6%;
            z-index: 0;
        }


}

.article__thumbnail--active {
    opacity: 0.5;
    border: 1px solid var(--Orange);
}